:root {
  --size: 450px; /* Increased size */
  --layer: 20;
}

body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 100vh;
  overflow: hidden;
  margin: 0;
  display: flex;
  font-family: "Anton", sans-serif;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
}

.home-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #110303f0, #dd6d04, #011c1afc, #7a6868);
  margin-top: 20px;
}

.home-container a {
  text-decoration: none;
  color: #000000;
}

.home-container .nav-item a {
  color: #e3c08d;
  margin-top: 65px;
}

.home-container .nav-item a.disabled {
  color: #898071;
}

.home-container .navigation-menu {
  position: relative;
  z-index: 10000;
  color: #efefee;
  font-size: 40px;
  font-family: monospace;
}

/* ANIMATION STYLES */
.container {
  position: relative;
  display: grid;
  grid-template-rows: repeat(20, 5vh);
  grid-template-columns: repeat(20, 5vw);
  transform-style: preserve-3d;
}

.monitor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform-style: preserve-3d;
}

.trigger {
  width: 100%;
  height: 100%;
}

.camera {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 500ms ease;
}

.camera.o-y {
  transform: rotateY(-30deg);
}

.vr {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--size);
  height: var(--size);
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
}

.vr_layer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(0, 153, 255, 0.006);
  border-radius: 10px;
  transform-style: preserve-3d;
}

.vr_layer_item {
  width: 70%;
  height: 70%;
  border: 3px solid #fff;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.05);
  animation: sphere 3s cubic-bezier(0.215, 0.61, 0.355, 1) alternate infinite,
    color 5s linear alternate infinite;
  transition: 500ms;
}

@keyframes sphere {
  0% {
    transform: scale(0) rotateZ(45deg);
  }
  50% {
    transform: scale(0) rotateZ(45deg);
  }
  100% {
    transform: scale(1) rotateZ(45deg);
  }
}

@keyframes color {
  0% {
    border-color: #f55;
  }
  50% {
    border-color: #55f;
  }
  100% {
    border-color: #5f5;
  }
}
